server {
        listen 80;

        root /var/www/{{project}};

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name {{host}}; # www.{{host}};
        
        location = /favicon.ico { access_log off; log_not_found off; }
        location /static/ {
            root /home/{{user_name}}/{{project}};
        }
        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                include proxy_params;
                proxy_pass http://unix:/home/{{user_name}}/{{project}}/{{project}}.sock;

                # try_files $uri $uri/ =404;
        }
}